<!DOCTYPEhtml>
<html lang="en">
    <head>
        <metacharset="UTF-8">
        <meta name="viewport"content="width=device-width,initial-scale=1.0">
        <title>Patel's Web Assignment Solutions</title>
        <link href="/style.css"rel="stylesheet"type="text/css">
    </head>
    <body>
        <h1>Patel's Web Assignment Solutions</h1>
        <h2>Links:</h2>
        <a href="/ex1">Exercise 1</a>
        <br>
        <a href="/api/countries">Exercise 2</a>
        <br>
        <a href="/api/articles">Exercise 3</a>
        <br>
    </body>
    </html>